body{
	background-image: url(http://i.imgur.com/nFjVnPO.jpg); 
	font-family: 'Indie Flower', cursive;
	color: white;
}
h2{
	margin-left: 19em;
	font-size: 2em;
}
.h2{
	margin-top: 15px;
	background-color: orange;
	opacity: 0.4;
    filter: alpha(opacity=40);
}
nav{
	margin-top: 1.5em;
	margin-left: 29em;
	padding: 15px;
	color: orange;
	text-decoration: none;
}
.kader{
	margin: auto;
	width: 770px;
}
a{
	text-decoration: none;
	color: orange;
	margin-left:3em; 
}
img{
	margin-top: 2em;
	margin-left: 8em;
	max-width: 500px;
}